.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #F6F7F8;

  * {
    background: transparent;
  }

  &__research {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    width: 90%;

    &__submit {
      background-color: #FFDD2D;
      color: #333333;
      border: none;
      width: 90%;
      padding: 15px;
      margin-top: 15px;
      border-radius: 8px;
      transition: 1s;
    }

    &__submit:hover {
      background-color: #FCC521;
    }

    &__field {
      background-color: #ecf1f7;
      border-radius: 10px;
      resize: none;
      border: none;
      height: 120px;
      width: 90%;
      font-size: 20px;
      text-indent: 5px;
      line-height: 1.5em;
      caret-color: #333333;
      transition: 1s;
      color: #333333;
      padding: 15px;
      box-sizing: border-box;
      box-shadow: 0 4px 24px rgba(0, 0, 0, .12);
    }
    
    &__field:hover {
      background-color: #E4EBF3;
    }

    &__field:focus {
      outline: none;
      background-color: #fff;
    }
  }

  &__description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    width: 90%;

    &__highlight {
      background-color: #E1C328;
      color: #202020;
      border-radius: 2px;
      padding: 2px;
      font-weight: bolder;
    }

    p {
      word-wrap: break-word;
      color: #333333;
      width: 90%;
      text-align: justify;
    }

    p:not(:first-child) {
      margin-top: 15px;
    }
  }

  &__pulse {
    width: 90%;
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    * {
      background-color: transparent;
      text-decoration: none;
    }

    &__wrapper {
      background-color: #FFFFFF;
      box-shadow: 0 4px 56px rgba(0, 0, 0, .12);
      border-radius: 15px;
      padding: 15px;
      width: 90%;

      * {
        color: #333333;
      }

      &__title {
        margin-bottom: 15px;
        text-align: center;
        color: #E1C328;
      }

      &__owner {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        &__title {
          margin-bottom: 5px;
        }

        &__image {
          border-radius: 50%;
          width: 64px;
        }

        &__nickname {
          margin-left: 5px;
        }
      }

      &__post {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &__title {
          word-wrap: break-word;
        }

        &__text {
          margin-top: 15px;
        }

        &__image {
          margin-top: 5px;
          width: 70%;
          border-radius: 5px;
        }
      }
    }
  }
}

@media (min-width: 1200px) {
  .content {
    &__research {
      &__field, &__submit {
        width: 75%;
      }
    }

    &__description > p {
      width: 75%;
    }

    &__pulse {
      &__wrapper {
        width: calc(75% - 15px);
      }
    }
  }
}

@media (min-width: 1500px) {
  .content {
    &__research {
      &__field, &__submit {
        width: 50%;
      }
    }

    &__description > p {
      width: 50%;
    }

    &__pulse {
      &__wrapper {
        width: calc(50% - 15px);
      }
    }
  }
}